@property --scroll-fade-t {
  syntax: '<length-percentage>';
  inherits: false;
  initial-value: 0px;
}

@property --scroll-fade-b {
  syntax: '<length-percentage>';
  inherits: false;
  initial-value: 0px;
}

@keyframes scroll-fade-reveal-t {
  from {
    --scroll-fade-t: 0px;
  }

  to {
    --scroll-fade-t: var(--_scroll-fade-size-t);
  }
}

@keyframes scroll-fade-reveal-b {
  from {
    --scroll-fade-b: var(--_scroll-fade-size-b);
  }

  to {
    --scroll-fade-b: 0px;
  }
}

@utility scroll-fade-y-* {
  --scroll-fade-size: --spacing(--value(integer));
  --scroll-fade-size: --value([length], [percentage]);

  --_scroll-fade-size-t: var(
    --scroll-fade-t-size,
    var(--scroll-fade-size, min(12%, --spacing(10)))
  );

  --_scroll-fade-size-b: var(
    --scroll-fade-b-size,
    var(--scroll-fade-size, min(12%, --spacing(10)))
  );

  --_scroll-fade-reveal: var(--scroll-fade-reveal, --spacing(24));

  --_scroll-fade-mask: linear-gradient(
    to bottom,
    transparent 0,
    #000 var(--scroll-fade-t),
    #000 calc(100% - var(--scroll-fade-b)),
    transparent 100%
  );

  -webkit-mask-image: var(--scroll-fade-mask, var(--_scroll-fade-mask));

  mask-image: var(--scroll-fade-mask, var(--_scroll-fade-mask));

  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  mask-mode: alpha;

  @supports (animation-timeline: scroll()) {
    animation-name: scroll-fade-reveal-t, scroll-fade-reveal-b;

    animation-duration: 1ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;

    animation-timeline: scroll(self y), scroll(self y);

    animation-range:
      0 var(--_scroll-fade-reveal),
      calc(100% - var(--_scroll-fade-reveal)) 100%;
  }

  @supports not (animation-timeline: scroll()) {
    --scroll-fade-t: var(--_scroll-fade-size-t);
    --scroll-fade-b: var(--_scroll-fade-size-b);
  }
}

@utility scroll-fade-t-* {
  --scroll-fade-t-size: --spacing(--value(integer));
  --scroll-fade-t-size: --value([length], [percentage]);
}

@utility scroll-fade-b-* {
  --scroll-fade-b-size: --spacing(--value(integer));
  --scroll-fade-b-size: --value([length], [percentage]);
}

@utility scroll-fade-reveal-* {
  --scroll-fade-reveal: --spacing(--value(integer));
  --scroll-fade-reveal: --value([length], [percentage]);
}

@utility scroll-fade-none {
  --scroll-fade-mask: none;
  animation: none;
}
